@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("/fonts/OpenSans-Regular-webfont.woff2");
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: black;
}

.fw800 {
  font-weight: 800 !important;
}

.page-wrapper {
  min-height: 100vh;
  background: url(../img/bg.png) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.dropdown {
  font-size: 14px;
}

.dropdown__toggle {
  width: 100%;
  padding: 6px 11px;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(136, 136, 136, 0.08);
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
}

.dropdown .dropdown-menu {
  background: #FFFFFF;
  /* GREY Universal */
  width: 100%;
  min-width: 0;
  border: none;
  box-shadow: 0px 8px 30px rgba(136, 136, 136, 0.08);
  border-radius: 18px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.dropdown .dropdown-item {
  padding: 0;
  font-size: 14px;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  display: block;
}

.dropdown .dropdown-item.active, .dropdown .dropdown-item:hover, .dropdown .dropdown-item:focus {
  background: transparent;
  color: black;
  font-weight: 700;
}

.alt_search{
        background: #29D697;
        padding: 11px;
        border-radius: 100px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
}

.alt_search:hover{
    color: #fff;
    text-decoration: none;
}

.modal-body iframe{
    width: 100%;
}

.videoBlock iframe{
    width: 100%;
}
.categoryVideo iframe{
    width: 100%;
}
.categoryVideo__imgContainer iframe{
    height: 100%;
    width: 100%;
}

@media (max-width: 991px) {
  .categoryVideoMain .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 767px) {
  .categoryVideoMain .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .alt_search{
      font-size: 10px;
  }
}

@media (max-width: 991px) {
  .categoryVideoMain .row > * {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .categoryVideoMain .row > * {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.categoryVideo {
  box-shadow: 0px 8px 30px rgba(41, 214, 151, 0.08);
  background: white;
  border-radius: 18px;
  overflow: hidden;
  padding: 10px 10px 0;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .categoryVideo {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .categoryVideo {
    margin-bottom: 10px;
  }
}

.categoryVideo__imgContainer {
  height: 183px;
  border-radius: 12px;
  overflow: hidden;
  display: block;
  position: relative;
}

@media (max-width: 991px) {
  .categoryVideo__imgContainer {
    height: 160px;
  }
}

.categoryVideo__number {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  padding: 0 8px;
  min-width: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 33px;
}

.categoryVideo__class {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 4px;
  left: 4px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  padding: 0px 8px;
  min-width: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 33px;
}

.categoryVideo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryVideo__play {
  width: 46px;
  height: 46px;
  border-radius: 100px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition-duration: 0.3s;
}

.categoryVideo__play::before {
  transition-duration: 0.3s;
  content: '';
  width: 0;
  height: 0;
  border: 15px solid;
  display: block;
  border-left-width: 15px;
  border-right-width: 15px;
  border-bottom-width: 10px;
  border-top-width: 10px;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 17px;
}

.categoryVideo__title {
  font-size: 18px;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 16px;
  text-align: center;
  color: black;
}

.categoryVideo__title * {
  color: black;
}

.categoryVideo__title *:hover {
  color: black;
  text-decoration: none;
}

.categoryVideo__title-link {
  display: block;
  color: black;
  transition-duration: 0.3s;
}

.categoryVideo__title-link:hover {
  color: black;
  text-decoration: none;
}

.categoryVideo--small {
  padding: 8px 7px 0;
  margin-bottom: 12px;
}

.categoryVideo--small .categoryVideo__imgContainer {
  height: 105px;
}

.categoryVideo--small .categoryVideo__title {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.2;
}

.categoryVideo--small:hover {
  background: black;
}

.categoryVideo--small:hover .categoryVideo__title {
  color: white;
}

.categoryVideo--small:hover .categoryVideo__title * {
  color: white;
  text-decoration: none;
}

.categoryVideo--small:hover .categoryVideo__play {
  background: black;
}

.categoryVideo--small:hover .categoryVideo__play::before {
  border-left-color: white;
}

.categoryVideo--turquoise {
  box-shadow: 0px 8px 30px rgba(41, 214, 151, 0.08);
}

.categoryVideo--turquoise:hover {
  box-shadow: 0px 8px 30px rgba(41, 214, 151, 0.16);
}

.categoryVideo--turquoise .categoryVideo__play::before {
  border-left-color: #29D697;
}

.categoryVideo--turquoise .categoryVideo__class {
  color: #29D697;
}

.categoryVideo--turquoise .categoryVideo__number {
  color: #29D697;
}

.categoryVideo--red {
  box-shadow: 0px 8px 30px rgba(225, 0, 40, 0.08);
}

.categoryVideo--red:hover {
  box-shadow: 0px 8px 30px rgba(225, 0, 40, 0.16);
}

.categoryVideo--red .categoryVideo__play::before {
  border-left-color: #e10028;
}

.categoryVideo--red .categoryVideo__class {
  color: #e10028;
}

.categoryVideo--red .categoryVideo__number {
  color: #e10028;
}

.categoryVideo--violet {
  box-shadow: 0px 8px 30px rgba(130, 27, 254, 0.08);
}

.categoryVideo--violet:hover {
  box-shadow: 0px 8px 30px rgba(130, 27, 254, 0.16);
}

.categoryVideo--violet .categoryVideo__play::before {
  border-left-color: #821bfe;
}

.categoryVideo--violet .categoryVideo__class {
  color: #821bfe;
}

.categoryVideo--violet .categoryVideo__number {
  color: #821bfe;
}

.categoryVideo--blue {
  box-shadow: 0px 8px 30px rgba(3, 56, 254, 0.08);
}

.categoryVideo--blue:hover {
  box-shadow: 0px 8px 30px rgba(3, 56, 254, 0.16);
}

.categoryVideo--blue .categoryVideo__play::before {
  border-left-color: #0338fe;
}

.categoryVideo--blue .categoryVideo__class {
  color: #0338fe;
}

.categoryVideo--blue .categoryVideo__number {
  color: #0338fe;
}

.categoryVideo--pink {
  box-shadow: 0px 8px 30px rgba(215, 0, 129, 0.08);
}

.categoryVideo--pink:hover {
  box-shadow: 0px 8px 30px rgba(215, 0, 129, 0.16);
}

.categoryVideo--pink .categoryVideo__play::before {
  border-left-color: #d70081;
}

.categoryVideo--pink .categoryVideo__class {
  color: #d70081;
}

.categoryVideo--pink .categoryVideo__number {
  color: #d70081;
}

.categoryVideo--orange {
  box-shadow: 0px 8px 30px rgba(255, 101, 65, 0.08);
}

.categoryVideo--orange:hover {
  box-shadow: 0px 8px 30px rgba(255, 101, 65, 0.16);
}

.categoryVideo--orange .categoryVideo__play::before {
  border-left-color: #ff6541;
}

.categoryVideo--orange .categoryVideo__class {
  color: #ff6541;
}

.categoryVideo--orange .categoryVideo__number {
  color: #ff6541;
}

.smallVideos {
  margin-left: -7px;
  margin-right: -7px;
}

.smallVideos > * {
  padding-left: 7px;
  padding-right: 7px;
}

.catalogCarousel .categoryVideo {
  transition-duration: 0.3s;
  opacity: 0;
}

.catalogCarousel .owl-item.active .categoryVideo {
  opacity: 1;
}

.catalogCarousel .owl-stage-outer {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% + 40px);
  margin-left: -20px;
}

.catalogCarousel .owl-nav button {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 70px;
  border-radius: 100px;
  overflow: hidden;
}

.catalogCarousel .owl-nav button.disabled {
  display: none;
}

.catalogCarousel .owl-nav button.owl-prev {
  background: #838383;
  left: -10px;
  transform: rotate(90deg);
  /*&:link {
          background: $black;
        }*/
}

.catalogCarousel .owl-nav button.owl-prev:hover {
  background: #e10028;
}

.catalogCarousel .owl-nav button.owl-prev:active {
  background: black;
}

.catalogCarousel .owl-nav button.owl-next {
  background: #838383;
  right: -15px;
  transform: rotate(-90deg);
  /*&:link {
          background: $black;
        }*/
}

.catalogCarousel .owl-nav button.owl-next:hover {
  background: #e10028;
}

.catalogCarousel .owl-nav button.owl-next:active {
  background: black;
}

.catalogCarousel .owl-dots {
  display: flex;
  justify-content: center;
}

.catalogCarousel .owl-dots .owl-dot {
  width: 20px;
  height: 20px;
  display: flex;
  /*&:link {

        span {
          background: $black;
        }
      }*/
}

.catalogCarousel .owl-dots .owl-dot span {
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #838383;
}

.catalogCarousel .owl-dots .owl-dot:hover span {
  background: #e10028;
}

.catalogCarousel .owl-dots .owl-dot:active span {
  background: black;
}

.catalogCarousel .owl-dots .owl-dot.active span {
  background: black;
}

.pageTitle {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 991px) {
  .pageTitle {
    font-size: 24px;
  }
}

.pageTitle__additional {
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 991px) {
  .pageTitle__additional {
    font-size: 18px;
  }
}

.pageTitle__additional-el {
  padding-left: 12px;
  margin-left: 12px;
  border-left: 1px solid black;
}

.pageSubtitle {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

.videoBlock {
  margin-bottom: 20px;
  background: black;
  position: relative;
  color: white;
  font-weight: 700;
  box-shadow: 0px 8px 30px rgba(3, 56, 254, 0.06);
  border-radius: 18px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .videoBlock {
    margin-top: 20px;
  }
}

.videoBlock:hover .vjs-big-play-button {
  background: black;
}

.videoBlock:hover .vjs-big-play-button .vjs-icon-placeholder::before {
  border-left-color: white;
}

.videoBlock__time {
  position: absolute;
  background: black;
  border-radius: 10px;
  font-size: 12px;
  height: 36px;
  min-width: 46px;
  text-align: center;
  padding: 0 8px;
  top: 23px;
  left: 18px;
  line-height: 36px;
}

@media (max-width: 991px) {
  .videoBlock__time {
    top: 10px;
    left: 8px;
    line-height: 20px;
    height: 20px;
  }
}

.videoBlock__text {
  text-align: center;
  font-size: 24px;
  display: flex;
  min-height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 991px) {
  .videoBlock__text {
    font-size: 18px;
    min-height: 80px;
  }
}

.videoBlock__text::before {
  left: 0;
  right: 0;
  height: 5px;
  background: black;
  position: absolute;
  top: -2px;
}

@media (max-width: 1199px) {
  .videoBlock__text::before {
    top: -12px;
  }
}

.videoBlock .vjs-poster {
  background-size: cover !important;
}

.videoBlock .video-js {
  width: 100%;
  height: 400px;
}

@media (max-width: 991px) {
  .videoBlock .video-js {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .videoBlock .video-js {
    height: 250px;
  }
}

.videoBlock .video-js .vjs-tech {
  object-fit: cover;
}

.videoBlock .video-js.vjs-paused .vjs-big-play-button {
  display: block;
}

.videoBlock .video-js.vjs-has-started.vjs-paused:not(.vjs-ended) .vjs-big-play-button .vjs-icon-placeholder::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: '';
  background: url(../img/icons/pause.svg) center no-repeat;
  background-size: contain;
}

.videoBlock .vjs-big-play-button {
  border: none;
  background: white;
  height: 65px;
  width: 65px;
  border-radius: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition-duration: 0.3s;
}

.videoBlock .vjs-big-play-button .vjs-icon-placeholder {
  transition-duration: 0.3s;
}

.videoBlock .vjs-big-play-button .vjs-icon-placeholder::before {
  content: '';
  width: 0;
  height: 0;
  border: 15px solid;
  display: block;
  border-left-width: 15px;
  border-right-width: 15px;
  border-bottom-width: 10px;
  border-top-width: 10px;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 27px;
  transition-duration: 0.3s;
}

.videoBlock--blue .vjs-big-play-button .vjs-icon-placeholder::before {
  border-left-color: #0338fe;
}

.searchResults__el {
  box-shadow: 0px 8px 30px rgba(136, 136, 136, 0.08);
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  font-size: 14px;
  background: white;
  margin-bottom: 17px;
  border: 2px solid white;
  transition-duration: 0.3s;
}

.searchResults__el:hover {
  text-decoration: none;
  border-color: rgba(131, 131, 131, 0.212);
}

.searchResults__el--turquoise .searchResults__el-class {
  background: #29D697;
}

.searchResults__el--red .searchResults__el-class {
  background: #e10028;
}

.searchResults__el--violet .searchResults__el-class {
  background: #821bfe;
}

.searchResults__el--pink .searchResults__el-class {
  background: #d70081;
}

.searchResults__el--orange .searchResults__el-class {
  background: #ff6541;
}

.searchResults__el--blue .searchResults__el-class {
  background: #0338fe;
}

.searchResults__el-title {
  width: 100%;
  color: black;
  font-weight: 500;
  padding-top: 3px;
}

.searchResults__el-class {
  flex-shrink: 0;
  font-size: 10px;
  border-radius: 100px;
  height: 27px;
  padding: 0 12px;
  font-weight: 800;
  color: white;
  text-align: center;
  line-height: 27px;
  margin-left: 15px;
}

.paginationList {
  margin-bottom: 30px;
  display: flex;
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 575px) {
  .paginationList {
    justify-content: center;
  }
}

.paginationList__el {
  box-shadow: 0px 8px 30px rgba(136, 136, 136, 0.08);
  text-decoration: none !important;
  margin-right: 6px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*&:link {
      background-color: $black;
      color: white;
    }*/
}

@media (max-width: 1199px) and (min-width: 991px) {
  .paginationList__el {
    width: 45px;
    height: 45px;
  }
}

.paginationList__el:hover {
  background-color: #e10028;
  color: white;
}

.paginationList__el:active {
  background-color: black;
  color: white;
}

.paginationList__el.active {
  background-color: transparent !important;
  color: black !important;
  font-weight: 800;
  box-shadow: none;
}

.paginationList__el.disabled {
  background-color: transparent !important;
  color: black !important;
  opacity: 0.4;
  box-shadow: none;
}

.paginationList__el--prev {
  background-image: url(../img/icons/angleRightBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.paginationList__el--prev:hover {
  background-image: url(../img/icons/angleRightWhite.svg);
}

.paginationList__el--prev.disabled {
  background-image: url(../img/icons/angleRightBlack.svg) !important;
}

.paginationList__el--next {
  background-image: url(../img/icons/angleRightBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.paginationList__el--next:hover {
  background-image: url(../img/icons/angleRightWhite.svg);
}

.paginationList__el--next.disabled {
  background-image: url(../img/icons/angleRightBlack.svg) !important;
}

.paginationList__el--dots {
  background-color: transparent !important;
  box-shadow: none;
}

.paginationList__el--dots:hover {
  color: #e10028;
}

.dropdownSimple {
  margin-bottom: 10px;
}

@media (max-width: 575px) {
  .dropdownSimple {
    margin-bottom: 10px;
  }
}

.dropdownSimple .dropdown__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .dropdownSimple .dropdown__toggle {
    height: 45px;
  }
}

.dropdownSimple .dropdown__toggle:after {
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  position: relative;
  background: url(../img/icons/arrowRightThinBlack.svg) center no-repeat;
  transform: rotate(90deg);
}

.dropdownSimple .dropdown__toggle[aria-expanded="true"]:after {
  transform: rotate(-90deg);
}

.dropdownSimple--classes .dropdown-item {
  padding-left: 40px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownSimple--classes .dropdown-item::after {
  content: '';
  position: relative;
  background: url(../img/icons/arrowRightThinBlack.svg) center no-repeat;
  width: 20px;
  height: 20px;
}

.dropdownSimple--classes .dropdown-item:hover::after {
  background: url(../img/icons/arrowRightBoldBlack.svg) center no-repeat;
}

.catalogPage {
  max-width: 100vw;
  overflow: hidden;
}

.header .container {
  position: relative;
}

.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .header__wrapper {
    padding: 6px 0;
    margin-bottom: 8px;
  }
}

.header__logoContainer {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 35px;
}

@media (max-width: 991px) {
  .header__logo {
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .header__logo-img {
    width: 53px;
  }
}

.header__logoText {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.header__logoText-title {
  font-weight: 600;
  font-size: 14px;
}

.header__logoText-text {
  font-weight: 300;
  font-size: 10px;
  opacity: 0.5;
}

.header__banner {
  border-radius: 12px;
  overflow: hidden;
  max-width: 450px;
  display: block;
  box-shadow: none;
}

@media (max-width: 991px) {
  .header__banner {
    display: none;
  }
}

.header__banner:hover {
  box-shadow: 0px 8px 30px rgba(136, 136, 136, 0.08);
}

.header__banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__right {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .header__right {
    display: none;
  }
}

.header .socials {
  display: flex;
  align-items: center;
}

.header .socials__title {
  font-size: 12px;
  margin-right: 14px;
}

@media (max-width: 1199px) {
  .header .socials__title {
    display: none;
  }
}

.header .languageList {
  font-size: 14px;
  margin-left: 30px;
}

.header .languageList .dropdown__toggle {
  font-weight: 700;
  padding: 6px 11px;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(136, 136, 136, 0.08);
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.header .languageList .dropdown__toggle:before {
  margin-left: 5px;
  content: '';
  width: 0;
  height: 0;
  border: 7px #C5C5C5 solid;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: relative;
  top: 5px;
}

.header .languageList .dropdown__toggle[aria-expanded="true"]::before {
  top: -3px;
  transform: rotate(180deg);
}

.header .languageList .dropdown-menu {
  text-align: center;
  background: #FFFFFF;
  /* GREY Universal */
  width: 100%;
  min-width: 0;
  border: none;
  box-shadow: 0px 8px 30px rgba(136, 136, 136, 0.08);
  border-radius: 18px;
}

.header .languageList .dropdown-item {
  padding: 0;
}

.header__toggle {
  width: 28px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background: transparent;
  display: none;
}

@media (max-width: 767px) {
  .header__toggle {
    display: flex;
  }
}

.header__toggle span {
  width: 100%;
  height: 3px;
  background: #e10028;
}

.searchForm {
  position: relative;
  height: 56px;
  display: flex;
  box-shadow: 0px 8px 30px rgba(136, 136, 136, 0.08);
  border-radius: 18px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .searchForm {
    height: 46px;
    margin-bottom: 10px;
  }
}

.searchForm__button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 56px;
  padding: 0;
  border: none;
  background: transparent;
  background: url(../img/icons/search.svg) center no-repeat;
  background-size: 28px;
}

.searchForm__input {
  width: 100%;
  padding-left: 63px;
  background: white;
  border: 2px solid rgba(131, 131, 131, 0);
  border-radius: 18px;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .searchForm__input {
    font-size: 14px;
  }
}

.searchForm__input::placeholder {
  font-weight: 300;
  color: black;
}

.searchForm__input:focus {
  border: 2px solid rgba(131, 131, 131, 0.2);
}

.catalogToggle {
  display: flex;
  background: #E10028;
  box-shadow: 0px 6px 20px rgba(46, 46, 79, 0.12);
  border-radius: 100px;
  color: white;
  height: 46px;
  align-items: center;
  max-width: 255px;
  width: 100%;
  flex-shrink: 0;
  justify-content: center;
  border: none;
  display: none;
}

@media (max-width: 991px) {
  .catalogToggle {
    display: flex;
    position: absolute;
    top: 12px;
    right: 15px;
  }
}

@media (max-width: 767px) {
  .catalogToggle {
    position: static;
    margin-bottom: 20px;
    max-width: 100%;
  }
}

.catalogToggle__bar {
  width: 20px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  margin-right: 14px;
}

.catalogToggle__bar span {
  width: 100%;
  height: 2px;
  background: white;
}

.menuBG {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.411);
  z-index: 1;
  display: none;
  transform: translateX(100%);
}

@media (max-width: 991px) {
  .menuBG {
    display: block;
  }
  .menuBG.active {
    transition-duration: 0.4s;
    transform: translateX(0%);
  }
}

.categoriesList {
  padding-bottom: 37px;
}

@media (max-width: 991px) {
  .categoriesList {
    background: #F9F9FB;
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    max-height: 100vh;
    overflow: auto;
    transform: translateX(100%);
  }
  .categoriesList.active {
    transform: translateX(0%);
    transition-duration: 0.4s;
  }
}

.categoriesList__inner {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .categoriesList__inner {
    flex-wrap: wrap;
  }
}

.categoriesList .container {
  flex-direction: column;
}

@media (max-width: 991px) {
  .categoriesList .dropdown {
    width: 100%;
  }
}

.categoriesList .dropdown__toggle {
  color: white;
  font-weight: 700;
  padding: 11px 15px 11px 20px;
}

@media (max-width: 1199px) {
  .categoriesList .dropdown__toggle {
    padding: 11px 11px 11px 12px;
  }
}

@media (max-width: 767px) {
  .categoriesList .dropdown__toggle {
    padding: 11px 15px 11px 20px;
  }
}

.categoriesList .dropdown__toggle-title {
  padding: 0px 4px 0px 9px;
}

.categoriesList .dropdown .dropdown-menu {
  overflow: auto;
  max-height: 230px;
}

@media (max-width: 767px) {
  .categoriesList .dropdown .dropdown-menu {
    position: static !important;
    transform: none !important;
    max-height: none;
    margin-top: 10px;
    overflow: auto;
  }
}

.categoriesList .dropdown .dropdown-item {
  text-align: center;
}

.categoriesList__toggle {
  width: 30px;
  height: 30px;
  background: url(../img/icons/times.svg) center no-repeat;
  background-size: 15px 15px;
  opacity: 0.5;
  border: none;
  padding: 0;
  display: none;
  margin: 0 auto 20px;
}

@media (max-width: 991px) {
  .categoriesList__toggle {
    display: flex;
  }
}

.categoriesList__toggle:hover {
  opacity: 1;
}

.categoriesList__el {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .categoriesList__el {
    margin-bottom: 10px;
    width: calc(100%/3 - 8px);
  }
}

@media (max-width: 767px) {
  .categoriesList__el {
    width: calc(100%/2 - 8px);
    align-items: flex-start;
  }
}

@media (max-width: 575px) {
  .categoriesList__el {
    width: 100%;
    align-items: flex-start;
  }
}

.categoriesList__el .dropdown__toggle::before {
  content: '';
  position: relative;
  width: 20px;
  height: 20px;
  background-size: contain;
  display: flex;
}

.categoriesList__el .dropdown__toggle::after {
  content: '';
  position: relative;
  width: 20px;
  height: 20px;
  background-size: contain;
  display: flex;
  background: url(../img/icons/angleDownWhite.svg) center no-repeat;
  margin-right: 0;
  margin-left: auto;
}

.categoriesList__el--turquoise .dropdown__toggle {
  background: #29D697;
}

.categoriesList__el--turquoise:hover .dropdown__toggle {
  box-shadow: 0px 2px 16px rgba(41, 214, 151, 0.5);
}

.categoriesList__el--red .dropdown__toggle {
  background: #e10028;
}

.categoriesList__el--red:hover .dropdown__toggle {
  box-shadow: 0px 2px 16px rgba(225, 0, 40, 0.5);
}

.categoriesList__el--violet .dropdown__toggle {
  background: #821bfe;
}

.categoriesList__el--violet:hover .dropdown__toggle {
  box-shadow: 0px 2px 16px rgba(130, 27, 254, 0.5);
}

.categoriesList__el--blue .dropdown__toggle {
  background: #0338fe;
}

.categoriesList__el--blue:hover .dropdown__toggle {
  box-shadow: 0px 2px 16px rgba(3, 56, 254, 0.5);
}

.categoriesList__el--pink .dropdown__toggle {
  background: #d70081;
}

.categoriesList__el--pink:hover .dropdown__toggle {
  box-shadow: 0px 2px 16px rgba(215, 0, 129, 0.5);
}

.categoriesList__el--orange .dropdown__toggle {
  background: #ff6541;
}

.categoriesList__el--orange:hover .dropdown__toggle {
  box-shadow: 0px 2px 16px rgba(255, 101, 65, 0.5);
}

.categoriesList__el--Biology .dropdown__toggle::before {
  background: url(../img/icons/biology.svg) center no-repeat;
}

.categoriesList__el--Mathematics .dropdown__toggle::before {
  background: url(../img/icons/maths.svg) center no-repeat;
}

.categoriesList__el--Chemistry .dropdown__toggle::before {
  background: url(../img/icons/chemistry.svg) center no-repeat;
}

.categoriesList__el--Physics .dropdown__toggle::before {
  background: url(../img/icons/physics.svg) center no-repeat;
}

.categoriesList__el--Algebra .dropdown__toggle::before {
  background: url(../img/icons/algebra.svg) center no-repeat;
}

.categoriesList__el--Geometry .dropdown__toggle::before {
  background: url(../img/icons/geometry.svg) center no-repeat;
}

.categoriesList__submenu {
  display: none;
}

@media (max-width: 991px) {
  .categoriesList__submenu {
    display: block;
  }
}

@media (max-width: 767px) {
  .categoriesList__submenu {
    display: none;
  }
  .categoriesList__submenu.active {
    display: block;
  }
}

.categoriesList .languageList__title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}

.categoriesList .languageList .dropdown {
  height: 130px;
}

.categoriesList .languageList .dropdown-menu {
  position: static;
  display: block !important;
  background: transparent;
  box-shadow: none;
}

.categoriesList .languageList .dropdown-item {
  padding-left: 55px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: left !important;
  position: relative;
}

.categoriesList .languageList .dropdown-item.active::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 15px;
  background: url(../img/icons/checkBlack.svg) center no-repeat;
  background-size: contain;
  right: 13px;
}

.categoriesList .socials__title {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer {
  margin-bottom: 0;
  margin-top: auto;
  padding: 40px 0;
  font-size: 14px;
}

@media (max-width: 991px) {
  .footer {
    text-align: center;
  }
}

.footer .row {
  align-items: center;
}

@media (max-width: 991px) {
  .footer__logo {
    display: flex;
    margin-bottom: 30px;
  }
}

.footer__logo-img {
  margin: auto;
}

.footer__menu {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .footer__menu {
    margin: auto;
  }
}

@media (max-width: 575px) {
  .footer__menu {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .footer__menu-el {
    margin-bottom: 30px;
  }
}

.footer__menu-link {
  color: black;
  font-weight: 500;
  /*&:link {
      color: $black;
    }*/
}

.footer__menu-link:hover {
  text-decoration: underline;
  color: #e10028;
}

.footer__menu-link:active {
  color: black;
}

.footer__infoContainer {
  display: flex;
}

@media (max-width: 991px) {
  .footer__infoContainer {
    flex-direction: column;
  }
}

.footer__info {
  margin-right: 50px;
}

@media (max-width: 1199px) {
  .footer__info {
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .footer__info {
    margin: 0 auto 30px;
  }
}

.footer__info-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.footer__info-el {
  color: #828282;
  display: block;
  margin-bottom: 3px;
}

.footer__info-el:hover {
  text-decoration: underline;
  color: #e10028;
}

.footer__info-el:active {
  color: black;
}

.footer .socials {
  right: 35px;
}

@media (max-width: 991px) {
  .footer .socials {
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.socials {
  position: relative;
}

.socials__list {
  display: flex;
  width: 105px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .socials__list {
    width: 185px;
    margin-left: auto;
    margin-right: auto;
  }
}

.socials__list-link {
  transition-duration: 0.3s;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.socials__list-link:hover {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.4);
}

.socials__list-img {
  width: 24px;
  height: 24px;
}

@media (max-width: 991px) {
  .socials__list-img {
    width: 42px;
    height: 42px;
  }
}
